extends ../../layout.pug
block contents 
    form(method="POST" enctype="multipart/form-data")
        input(id="productImg" name="productImg" type="file" accept="image/*,.pdf" required)
        input(id="productName" name="productName" type="text" placeholder="Write Product Name" required)
        input(id="price" name="price" type="text" placeholder="Write Price" required)
        input(id="description" name="description" type="text" placeholder="Write Description")
        input(id="descriptImg" name="descriptImg" type="file" accept="image/*,.pdf" required)
        button Add Product