extends ../../layout.pug
block contents 
    form(method="POST" enctype="multipart/form-data")
        input(id="productImg" name="productImg" type="file" accept="image/*,.pdf" required)
        input(id="productName" name="productName" type="text" placeholder="Write Product Name" required value=`${product.title}`) 
        input(id="price" name="price" type="text" placeholder="Write Price" required value=`${product.price}`)
        input(id="description" name="description" type="text" placeholder="Write Description" value=`${product.description}`)
        input(id="descriptImg" name="descriptImg" type="file" accept="image/*,.pdf" required)
        button Edit Product
    a(href=`/product/${product.id}/delete`) Delete Product &rarr;