extends ../../layout.pug
block contents
    form(method="POST" enctype="multipart/form-data")
     input(id="liveFile" name="liveFile" type="file" accept="video/*") 
     input(id="liveTitle" name="liveTitle" type="text" placeholder="Write Title") 
     input(id="liveDescription" name="liveDescription" type="text" placeholder="Write Description")
     button Add Video 