extends ../../layout.pug
block contents
    div.videoBox
        video#video(autoplay, width=400, height=400, playsinline)
        button#mute Mute
        button#camera Camera Off
        select#cameras
        select#audios
    button#startBtn Recording
block scripts
    script(src=`/socket.io/socket.io.js`)
    script(src=`/static/js/createLive.js`)