extends ../../layout.pug
block contents
        form(method="post")
            input(placeholder="room name", required, type="text" id="roomName" name="roomName")
            input(placeholder="Your name", required, type="text" id="userName")
            button Enter room