extends ../../layout.pug
block contents
    div
        h1 #{live.liveTitle} 
        video(width="500", height="500" controls)
            source(src=`/${live.liveUrl}`)
        if String(loggedInUser._id)===String(product.owner._id)    
            a(href=`/live/${live.id}/edit`) Edit Live &rarr;
        if loggedIn    
            div
                form
                    textarea(cols="30", rows="10", placeholder="Write a nice comment.")
                    button Add Comment
        div 
            ul comment
block scripts 
     if loggedIn
        script