extends ../layout.pug
block contents
    if pageError
        p=pageError
    form(method="POST")
        input(id="username" name="username" type="text" placeholder="Write your username" required)
        input(id="password" name="password" type="password" placeholder="Write your password" required)
        button Login
    a(href="/user/add") Don't have any account?
    br
    include ../partials/social-login