extends ../layout.pug
include ../mixins/products.pug
block contents
    if loggedIn
        nav
            ul 
                li
                    a(href="/product/add") Add Product
    div
        each product in products 
            +productList(product)