extends ../layout.pug
include ../mixins/products.pug
block contents
    if loggedIn
        nav
            ul 
                li
                    a(href="/product/add") Add Product
    form(method="GET")
        input(type="text" id="find" name="find" required) 
        button Search 
    div
        each product in products 
            +productList(product)