extends ../layout.pug
include ../mixins/stylists.pug
block contents
    if loggedIn
        a(href=`/stylist/add`) New Stylist &rarr;
    div.Stylist
        each stylist in stylists 
            +stylistList(stylist)