header
    h1 Herse
    nav
        ul
            li 
                a(href=`/shop`) Stylist
            li 
                a(href=`/shop`) Live
            li 
                a(href=`/shop`) shop
            li 
                a(href=`/shop`) Category
            li 
                a(href=`/login`) Login