header
    h1 
        a(href=`/`) Herse
    nav
        ul
            li 
                a(href=`/stylist`) Stylist
            li 
                a(href=`/live`) Lives
            li 
                a(href=`/shop`) shop
            li 
                a(href=`/category`) Category
            li 
                a(href=`/login`) Login