header
    nav
        ul
            li 
                a(href=`/`) Home
            li 
                a(href=`/stylist`) Stylist
            li 
                a(href=`/live`) Lives
            li 
                a(href=`/shop`) shop
            if loggedIn 
                li
                    a(href=`/user/${loggedInUser._id}/profile`) #{loggedInUser.name}'s Profile
                li 
                    a(href="/logout") Log Out
            else    
                li 
                    a(href=`/login`) Login