div 
    a(href="/user/github/request") Continue with Github &rarr;
    br
    a(href="/user/naver/request") Continue with Naver &rarr;
    br
    a(href="/user/google/request") Continue with Google &rarr;
    br 