extends ../../layout.pug
block contents
    if pageError
        p=pageError
    form(method="POST")
        input(name="oldPw" type="password",required placeholder="Write Current Password")
        input(name="newPw" type="password",required placeholder="Write New Password")
        input(name="confirmNewPw" type="password",required placeholder="Confirm New Password")
        input(type="submit" value="Edit Password")